$fontePrncipal: Roboto, sans-serif;

// Esquema de cores
$brancovar1: #fff;
$brancovar2: #f5f6fa;
$azul: #182C61;
$verdevar1: #44bd32;
$verdevar2: #4cd137;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;